.DS_Store
CMakeBuilds/
Dependencies/
Lib/
Bin/
AlloStreamer/
*~
AlloPlayer/CMakeFiles/
AlloPlayer/Makefile
AlloPlayer/cmake_install.cmake
AlloServer/CMakeFiles/
AlloServer/Makefile
AlloServer/cmake_install.cmake
AlloShared/CMakeFiles/
AlloShared/Makefile
AlloShared/cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CubemapExtractionPlugin/CMakeFiles/
CubemapExtractionPlugin/Makefile
CubemapExtractionPlugin/cmake_install.cmake
Makefile
cmake_install.cmake
